{{define "upload"}}
{{template "header" .}}
{{template "navbar-upload" .}}
<div class="jumbotron">
    <h1 class="text-center">Upload a File!</h1>
</div>
<div class="container-fluid">
    <form class="form-signin" method="post" action="/upload/" enctype="multipart/form-data">
        <fieldset>
            <input type="file" name="myfiles" id="myfiles" multiple="multiple" class="btn btn-danger">
            <input type="submit" name="submit" value="Submit" class="btn btn-info">
        </fieldset>
    </form>
</div>
<form action="/logout" method="post">
    <button class="btn btn-warning" type="submit">Logout</button>
</form>
{{template "footer" .}}
{{end}}

{{define "navbar-upload"}}
<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Upload a file!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/example/">Home!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/create/">Create a New Page!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/upload/">Upload a File</a>
        </li>
        <form method="post" action="/search" class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" id="search" name="search" class="form-control" placeholder="Search for a page!">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </ul>
</nav>
{{end}}